body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    background: linear-gradient(to bottom, #e0f0ff 0%, #f0ffff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}

h1,
h2 {
    font-weight: 600;
    margin-bottom: 0px;
}

p {
    font-size: 15px;
}

.app-name{
    font-family: "Protest Riot", sans-serif;
    font-family: "Pacifico", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #c9504a;
}

.app-name span {
    color: #12514c;
}


.container {
    background-color: #fff;
    padding: 10px 25px 25px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #e0f0ff 0%, #f0ffff 100%) !important;
    text-align: center;
}

.weather{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.current-weather,
.hourly-forecast,
.daily-forecast {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15); */
    border: 1px solid #e0e0e094;
}

.weather-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp-now{
    font-size: 40px;
    font-weight: 600;
    color: #c9504a;
}

.weather-desc{
    font-size: 18px;
    font-weight: 600;
    color: #12514c;
}

.min-temp, .max-temp{
    font-size: 15px;
    font-weight: 600;
}

.min-temp{
    color: #12514c;
}

.max-temp{
    color: #c9504a;
}

.search {
    margin-bottom: 20px;
}

.search input[type="text"] {
    width: 220px;
    padding: 10px;
    border: 0 solid #ccc;
    border: 1px solid #e0e0e094;

    border-radius: 8px 0 0 8px;
    font-size: 16px;
}

.search input[type="text"]:focus {
    outline: none;
    border-color: #c9504a;
    box-shadow: 0 0 5px rgba(255, 89, 0, 0.808);
}

.search button {
    background-color: #12514c;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-left: -4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0 8px 8px 0px;
    cursor: pointer;
}

.search button:hover {
    background-color: #196f68;
}

.hourly-forecast,
.daily-forecast {
    display: flex;
    /* For arranging content horizontally */
    flex-wrap: wrap;
    /* Wrap to multiple lines if needed */
    justify-content: space-around;
    /* Distribute content evenly*/
}

/* Styles for individual hourly/daily forecast items */
.hourly-item,
.daily-item {
    flex: 0 0 12%; /* Adjust for the desired number of days per row */
    background-color: #fff;
    margin: 5px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.copyright {
    color: #666;
}